#footer {
    background-color: #373A40;
    flex: 0 1 auto;
    margin-top: 1%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
  }